:root {
  /*  kleuren */
  --backgroundColor: #F9D2CB;
  --anotherColor: #A3F4DC;

  /*  fonts */
  --font: 'roboto', sans-serif ;
  --fontWeightNormal: normal;
  --fontWeightBold: 500;
  --fontUppercase: uppercase;

  /*  tekst kleuren */
  --textColor: #212121;
  --textColorGrey: #9C9C9C;
  --textColorPink: #F9D2CB;

/*  margins */
  --margin: 3rem;
  
}
